<kendo-grid
    [data]="data"
    [pageSize]="gridState.take"
    [skip]="gridState.skip"
    [sort]="gridState.sort"
    [filter]="gridState.filter"
    [group]="gridState.group"
    [groupable]="false"
    [filterable]="false"
    [sortable]="true"
    [pageable]="true"
    [scrollable]="'scrollable'"
    [height]="800"
    (add)="add.emit()"
    (edit)="edit.emit($event)" 
    (remove)="remove.emit($event)"
    (dataStateChange)="dataStateChange.emit($event)"
>
    <ng-template kendoGridToolbarTemplate>
        <button [icon]="'plus'" kendoGridAddCommand>Add New Block</button>
    </ng-template>
    <kendo-grid-column hidden="true" field="UBlockId" title="UBlockId"></kendo-grid-column>
    <kendo-grid-column field="Division" title="Division" media="(min-width: 400px)"></kendo-grid-column>
    <kendo-grid-column field="Block" title="Block"></kendo-grid-column>
    <kendo-grid-column field="Description" title="Description" media="(min-width: 1075px)"></kendo-grid-column> 
    <kendo-grid-column field="BlockVolume" title="Block Volume" media="(min-width: 500px)"></kendo-grid-column>    
    <kendo-grid-column field="StartDate" title="Start Date" media="(min-width: 775px)">
        <ng-template kendoGridCellTemplate let-dataItem>
            {{dataItem.StartDate | date: 'MM/dd/yyyy'}}
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="EndDate" title="End Date" media="(min-width: 775px)">
        <ng-template kendoGridCellTemplate let-dataItem>
            {{dataItem.EndDate | date: 'MM/dd/yyyy'}}
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-command-column  width="120">
      <ng-template kendoGridCellTemplate>
          <button [icon]="'edit'" kendoGridEditCommand [primary]="true"></button>
          <button [icon]="'delete'" kendoGridRemoveCommand id="delete_button" ></button>
      </ng-template>
  </kendo-grid-command-column>    
    <div *kendoGridDetailTemplate="let dataItem">
        <wbapp-productions-child [block]="dataItem"></wbapp-productions-child>
    </div>
</kendo-grid>
  