<kendo-grid
    [data]="data"
    [pageSize]="gridState.take"
    [skip]="gridState.skip"
    [sort]="gridState.sort"
    [filter]="gridState.filter"
    [group]="gridState.group"
    [groupable]="false"
    [filterable]="false"
    [sortable]="true"
    [pageable]="true"
    [scrollable]="'scrollable'"
    [height]="800"
    (add)="add.emit()"
    (edit)="edit.emit($event)" 
    (remove)="remove.emit($event)"
    (dataStateChange)="dataStateChange.emit($event)"
>
    <kendo-grid-column field="FirstName" title="First Name" media="(min-width: 850px)"></kendo-grid-column>
    <kendo-grid-column field="LastName" title="Last Name" media="(min-width: 950px)"></kendo-grid-column>
    <kendo-grid-column field="UserName" title="Username"></kendo-grid-column>
    <kendo-grid-column field="Roles" title="Roles"></kendo-grid-column>      
    <kendo-grid-column field="Division" title="Division"></kendo-grid-column>
    <kendo-grid-column field="Email" title="Email"  media="(min-width: 1050px)"></kendo-grid-column>
    <kendo-grid-column field="EmailReport" title="Report"media="(min-width: 700px)"></kendo-grid-column>
    <kendo-grid-command-column  width="90">
        <ng-template kendoGridCellTemplate>
          <button [icon]="'edit'" kendoGridEditCommand [primary]="true"></button>
        </ng-template>
    </kendo-grid-command-column>
    </kendo-grid>

