<div class="card my-3" style="width: auto;">
  <form class="card-header" [formGroup]="editForm" (ngSubmit)="onSubmit()">                
    <div fxLayout="row wrap">
      <table width="100%">     
        <tr>
          <td style="text-align:center; padding:8px;font-size:1.3em;">
            <b>{{ editForm.get("Block").value }}</b>
          </td>
          <td style="text-align:center; padding:8px;font-size:1.3em;">
            <b>{{ editForm.get("Date").value | date:'EE, MMM d' }}</b>
          </td>
        </tr>
      </table>
   </div>
    <kendo-tabstrip (tabSelect)="onTabSelect($event)">                    
      <kendo-tabstrip-tab [title]="'HARVESTING'" [selected]="true">
        <ng-template kendoTabContent>
            <div id="formwrapper">
              <form formGroupName="Harvesting">
                <div fxLayout="row wrap">
                  <mat-form-field appearance="outline" class="productions-edit">
                    <mat-label>Bunching Hrs</mat-label>
                    <input formControlName="HBunchingH" type='text' ng-virtual-keyboard-placeholder="Bunching Hrs" matInput ng-virtual-keyboard [ng-virtual-keyboard-layout]="customLayout" />
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="productions-edit">
                    <mat-label>Bunching %</mat-label>
                    <input formControlName="HBunchingP" type='text' ng-virtual-keyboard-placeholder="Bunching({{placeHolders.Bunching}}%)" matInput ng-virtual-keyboard [ng-virtual-keyboard-layout]="customLayout" />
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="productions-edit">
                    <mat-label>Skidding Hrs</mat-label>
                    <input formControlName="HSkiddingH" type='text' ng-virtual-keyboard-placeholder="Skidding Hrs" matInput ng-virtual-keyboard [ng-virtual-keyboard-layout]="customLayout" />
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="productions-edit">
                    <mat-label>Skidding %</mat-label>
                    <input formControlName="HSkiddingP" type='text' ng-virtual-keyboard-placeholder="Skidding({{placeHolders.Skidding}}%)" matInput ng-virtual-keyboard [ng-virtual-keyboard-layout]="customLayout" />
                  </mat-form-field>
                  <mat-form-field  appearance="outline" class="productions-edit">
                    <mat-label>Decking Hrs</mat-label>
                    <input formControlName="HDeckingH" type='text' ng-virtual-keyboard-placeholder="Decking Hrs" matInput ng-virtual-keyboard [ng-virtual-keyboard-layout]="customLayout"/>
                  </mat-form-field>
                    <mat-form-field appearance="outline" class="productions-edit">
                      <mat-label>Decking %</mat-label>
                      <input formControlName="HDeckingP" type='text' ng-virtual-keyboard-placeholder="Decking({{placeHolders.Decking}}%)" matInput ng-virtual-keyboard [ng-virtual-keyboard-layout]="customLayout" />
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="productions-edit">
                      <mat-label>Processing Hrs</mat-label>
                      <input formControlName="HProcessingH" type='text' ng-virtual-keyboard-placeholder="Processing Hrs" matInput ng-virtual-keyboard [ng-virtual-keyboard-layout]="customLayout" />
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="productions-edit">
                      <mat-label>Processing %</mat-label>
                      <input formControlName="HProcessingP" type='text' ng-virtual-keyboard-placeholder="Processing({{placeHolders.Processing}}%)" matInput ng-virtual-keyboard [ng-virtual-keyboard-layout]="customLayout" />
                    </mat-form-field>
                    <mat-form-field  appearance="outline" class="productions-edit">
                      <mat-label>Loading Hrs</mat-label>
                      <input formControlName="HLoadingH" type='text' ng-virtual-keyboard-placeholder="Loading Hrs" matInput ng-virtual-keyboard [ng-virtual-keyboard-layout]="customLayout" />
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="productions-edit">
                      <mat-label>Loading %</mat-label>
                      <input formControlName="HLoadingP" type='text' ng-virtual-keyboard-placeholder="Loading({{placeHolders.Loading}}%)" matInput ng-virtual-keyboard [ng-virtual-keyboard-layout]="customLayout" />
                    </mat-form-field>
                </div>
              </form>
            </div>
            <br><br>
            <br><br><br>
        </ng-template>
    </kendo-tabstrip-tab>
    <kendo-tabstrip-tab [title]="'ROAD CONST'">
      <ng-template kendoTabContent>
        <div id="formwrapper">
          <form formGroupName="RoadConstruction">
              <div fxLayout="row wrap" fxLayoutAlign="space-around center">
                <mat-form-field  appearance="outline" class="productions-edit">
                  <mat-label>Cat 1 Type</mat-label>
                  <input formControlName="RCat1Type" ng-virtual-keyboard-placeholder="Cat 1 Type" matInput ng-virtual-keyboard [ng-virtual-keyboard-layout]="catTypeLayout" />
                </mat-form-field>
                <mat-form-field appearance="outline" class="productions-edit">
                  <mat-label>Cat 1 Hrs</mat-label>
                  <input formControlName="RCat1" type='text' ng-virtual-keyboard-placeholder="Cat 1 Hrs" matInput ng-virtual-keyboard [ng-virtual-keyboard-layout]="customLayout" />
                </mat-form-field>
                <mat-form-field  appearance="outline" class="productions-edit">
                  <mat-label>Cat 2 Type</mat-label>
                  <input formControlName="RCat2Type" ng-virtual-keyboard-placeholder="Cat 2 Type" matInput ng-virtual-keyboard [ng-virtual-keyboard-layout]="catTypeLayout" />
                </mat-form-field>
                <mat-form-field appearance="outline" class="productions-edit">
                  <mat-label>Cat 2 Hrs</mat-label>
                  <input formControlName="RCat2" type='text' ng-virtual-keyboard-placeholder="Cat 2 Hrs" matInput ng-virtual-keyboard [ng-virtual-keyboard-layout]="customLayout" />
                </mat-form-field>
                <mat-form-field appearance="outline" class="productions-edit">
                  <mat-label>Hoe 1 Type</mat-label>
                  <input formControlName="RHoe1Type" ng-virtual-keyboard-placeholder="Hoe 1 Type" matInput ng-virtual-keyboard [ng-virtual-keyboard-layout]="hoeTypeLayout" />
                </mat-form-field>
                <mat-form-field appearance="outline" class="productions-edit">
                  <mat-label>Hoe 1 Hrs</mat-label>
                  <input formControlName="RHoe1" type='text' ng-virtual-keyboard-placeholder="Hoe 1 Hrs" matInput ng-virtual-keyboard [ng-virtual-keyboard-layout]="customLayout" />
                </mat-form-field>
                <mat-form-field appearance="outline" class="productions-edit">
                  <mat-label>Hoe 2 Type</mat-label>
                  <input formControlName="RHoe2Type" ng-virtual-keyboard-placeholder="Hoe 2 Type" matInput ng-virtual-keyboard [ng-virtual-keyboard-layout]="hoeTypeLayout" />
                </mat-form-field>
                <mat-form-field appearance="outline" class="productions-edit">
                  <mat-label>Hoe 2 Hrs</mat-label>
                  <input formControlName="RHoe2" type='text' ng-virtual-keyboard-placeholder="Hoe 2 Hrs" matInput ng-virtual-keyboard [ng-virtual-keyboard-layout]="customLayout" />
                </mat-form-field>
                <mat-form-field appearance="outline" class="productions-edit">
                  <mat-label>Rock Truck Hrs</mat-label>
                  <input formControlName="RRockTruck" type='text' ng-virtual-keyboard-placeholder="Rock Truck Hrs" matInput ng-virtual-keyboard [ng-virtual-keyboard-layout]="customLayout"/>
                </mat-form-field>
                  <mat-form-field appearance="outline" class="productions-edit">
                    <mat-label>Grader Hrs</mat-label>
                    <input formControlName="RGrader" type='text' ng-virtual-keyboard-placeholder="Grader Hrs" matInput ng-virtual-keyboard [ng-virtual-keyboard-layout]="customLayout" />
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="productions-edit">
                    <mat-label>Packer Hrs</mat-label>
                    <input formControlName="RPacker" type='text' ng-virtual-keyboard-placeholder="Packer Hrs" matInput ng-virtual-keyboard [ng-virtual-keyboard-layout]="customLayout" />
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="productions-edit">
                    <mat-label>Labour Hrs</mat-label>
                    <input formControlName="RLabour" type='text' ng-virtual-keyboard-placeholder="Labour Hrs" matInput ng-virtual-keyboard [ng-virtual-keyboard-layout]="customLayout" />
                  </mat-form-field>
                  <mat-form-field  appearance="outline" class="productions-edit">
                    <mat-label>% Complete</mat-label>
                    <input formControlName="RPercent" type='text' ng-virtual-keyboard-placeholder="Road Const.({{placeHolders.RPercent}}%)" matInput ng-virtual-keyboard [ng-virtual-keyboard-layout]="customLayout" />
                  </mat-form-field> 
                  <br>
                    <br><br><br>
                  <br><br>   
              </div>
          </form>
        </div>
      </ng-template>
    </kendo-tabstrip-tab>
    <kendo-tabstrip-tab [title]="'GRAVELING'">
      <ng-template kendoTabContent> 
          <div id="formwrapper">           
            <form formGroupName="Graveling">
                <div fxLayout="row wrap" fxLayoutAlign="space-around center">
                  <mat-form-field appearance="outline" class="productions-edit">
                    <mat-label>Cat 1 Type</mat-label>
                    <input formControlName="GCat1Type" ng-virtual-keyboard-placeholder="Cat 1 Type" matInput ng-virtual-keyboard [ng-virtual-keyboard-layout]="catTypeLayout" />
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="productions-edit">
                    <mat-label>Cat 1 Hrs</mat-label>
                    <input formControlName="GCat1" type='text' ng-virtual-keyboard-placeholder="Cat 1 Hrs" matInput ng-virtual-keyboard [ng-virtual-keyboard-layout]="customLayout" />
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="productions-edit">
                    <mat-label>Cat 2 Type</mat-label>
                    <input formControlName="GCat2Type" ng-virtual-keyboard-placeholder="Cat 2 Type" matInput ng-virtual-keyboard [ng-virtual-keyboard-layout]="catTypeLayout" />
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="productions-edit">
                    <mat-label>Cat 2 Hrs</mat-label>
                    <input formControlName="GCat2" type='text' ng-virtual-keyboard-placeholder="Cat 2 Hrs" matInput ng-virtual-keyboard [ng-virtual-keyboard-layout]="customLayout" />
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="productions-edit">
                    <mat-label>Hoe 1 Type</mat-label>
                    <input formControlName="GHoe1Type" ng-virtual-keyboard-placeholder="Hoe 1 Type" matInput ng-virtual-keyboard [ng-virtual-keyboard-layout]="hoeTypeLayout" />
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="productions-edit">
                    <mat-label>Hoe 1 Hrs</mat-label>
                    <input formControlName="GHoe1" type='text' ng-virtual-keyboard-placeholder="Hoe 1 Hrs" matInput ng-virtual-keyboard [ng-virtual-keyboard-layout]="customLayout" />
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="productions-edit">
                    <mat-label>Hoe 2 Type</mat-label>
                    <input formControlName="GHoe2Type" ng-virtual-keyboard-placeholder="Hoe 2 Type" matInput ng-virtual-keyboard [ng-virtual-keyboard-layout]="hoeTypeLayout" />
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="productions-edit">
                    <mat-label>Hoe 2 Hrs</mat-label>
                    <input formControlName="GHoe2" type='text' ng-virtual-keyboard-placeholder="Hoe 2 Hrs" matInput ng-virtual-keyboard [ng-virtual-keyboard-layout]="customLayout" />
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="productions-edit">
                    <mat-label>Rock Truck Hrs</mat-label>
                    <input formControlName="GRockTruck" type='text' ng-virtual-keyboard-placeholder="Rock Truck Hrs" matInput ng-virtual-keyboard [ng-virtual-keyboard-layout]="customLayout"/>
                  </mat-form-field>
                    <mat-form-field appearance="outline" class="productions-edit">
                      <mat-label>Grader Hrs</mat-label>
                      <input formControlName="GGrader" type='text' ng-virtual-keyboard-placeholder="Grader Hrs" matInput ng-virtual-keyboard [ng-virtual-keyboard-layout]="customLayout" />
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="productions-edit">
                      <mat-label>Packer Hrs</mat-label>
                      <input formControlName="GPacker" type='text' ng-virtual-keyboard-placeholder="Packer Hrs" matInput ng-virtual-keyboard [ng-virtual-keyboard-layout]="customLayout" />
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="productions-edit">
                      <mat-label>Labour Hrs</mat-label>
                      <input formControlName="GLabour" type='text' ng-virtual-keyboard-placeholder="Labour Hrs" matInput ng-virtual-keyboard [ng-virtual-keyboard-layout]="customLayout" />
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="productions-edit">
                      <mat-label>% Complete</mat-label>
                      <input formControlName="GPercent" type='text' ng-virtual-keyboard-placeholder="Graveling({{placeHolders.GPercent}}%)" matInput ng-virtual-keyboard [ng-virtual-keyboard-layout]="customLayout" />
                    </mat-form-field>    
                    <br>
                    <br><br><br>
                  <br><br>                  
                </div>
            </form>
          </div>
      </ng-template>
    </kendo-tabstrip-tab>
  </kendo-tabstrip>
  <!-- <div>{{ editForm.value | json }}</div> -->
  <div id="submitBar">
    <div id="buttonwrapper">
      <button id="submit" type="submit" class="btn btn-info mt-3" [disabled]="updateDisabled">
        Update
      </button>
      <button id="back" (click)="back()" type="button" class="btn btn-outline-secondary mt-3 ml-3" [disabled]="backDisabled">
        Back
      </button>
    </div> 
  </div>
    
  </form>
</div>
