// regular style toast 
@import '~ngx-toastr/toastr';

/* You can add global styles to this file, and also import other style files */
@import '@progress/kendo-theme-material/dist/all.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; overscroll-behavior: none;}


.form-group {
  border: #f2f2f2 solid 2px;
  margin-top: 3px;
  padding: 2px;
}

.container{
  overflow-x: visible; 
}

mat-nav-list { 
  overflow: auto;
  padding-bottom: 150px!important; 
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  color: #000!important;
}
.mat-form-field-wrapper {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding-bottom: 0em!important; 
}

.productions-edit {
    width: 47%!important;
    margin: 5px!important;
  }
  .k-tabstrip>.k-content {
    padding: 10px!important;
  }  
  [id^=mat-dialog-] > virtual-keyboard > div > div > mat-form-field {
      width: 99%!important;
      border: none;
  }
  [id^=mat-dialog-] > virtual-keyboard > div > div > mat-form-field .mat-form-field-wrapper {
    border-radius: 5px;
    background-color: #ffffff;
    padding-bottom: 1.2em!important;
  }
  app-login > app-login-form .mat-form-field-wrapper {
    border-radius: 5px;
    background-color: #ffffff;
  }
  app-login > app-login-form .mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: 1.5em 0 !important;
} 
  .mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 0em 0em!important; 
}
.k-tabstrip-items .k-item.k-state-active, .k-tabstrip-items .k-item.k-state-selected {
  border-radius: 10px 10px 0px 0!important;
  background-color: #09456a!important;
  color: #fff!important;
}

@media screen and (max-width: 414px) {
.mat-form-field-label {
  font-size: 1.7em!important;
  font-weight: 400!important;
  color: #09456a!important;
  letter-spacing: normal!important;
}
[id^=mat-input-] {
  height: 2.5em!important;
  color: crimson!important;
  line-height: 2em!important;
  font-size: 2em!important;
  font-weight: 500!important;
}
[id^=k-tabstrip-tab-]{
  font-size: 1.4em!important;
}
mat-sidenav-container > mat-sidenav-content > div {
  padding: 0px!important;
}
mat-sidenav-container > mat-sidenav-content > div > list-container > div, 
mat-sidenav-container > mat-sidenav-content > div > edit-container > div,
mat-sidenav-container > mat-sidenav-content > div > edit-container > div > edit-component > div > form {
  padding: 0px!important;
}
}
@media screen and (max-width: 375px) {
  .mat-form-field-label {
    font-size: 1.5em!important;
    font-weight: 400!important;
    color: #09456a!important;
    letter-spacing: normal!important;
  }
  [id^=mat-input-] {
    height: 2.2em!important;
    color: crimson!important;
    line-height: 2em!important;
    font-size: 2em!important;
    font-weight: 500!important;
  }
  [id^=k-tabstrip-tab-]{
    font-size: 1.3em!important;
  } 
  mat-sidenav-container > mat-sidenav-content > div {
    padding: 0px!important;
  }
  mat-sidenav-container > mat-sidenav-content > div > list-container > div, 
  mat-sidenav-container > mat-sidenav-content > div > edit-container > div,
  mat-sidenav-container > mat-sidenav-content > div > edit-container > div > edit-component > div > form {
    padding: 0px!important;
  } 
}

@media screen and (max-width: 360px) {
  .mat-form-field-label {
    font-size: 1.5em!important;
    font-weight: 400!important;
    color: #09456a!important;
    letter-spacing: normal!important;
    overflow-wrap: normal!important;
    }
    [id^=mat-input-] {
      height: 2em!important;
      color: crimson!important;
      line-height: 2em!important;
      font-size: 2em!important;
      font-weight: 500!important;
    }
    [id^=k-tabstrip-tab-]{
      font-size: 1.2em!important;
    }
    mat-sidenav-container > mat-sidenav-content > div {
      padding: 0px!important;
    }
    mat-sidenav-container > mat-sidenav-content > div > list-container > div, 
    mat-sidenav-container > mat-sidenav-content > div > edit-container > div,
    mat-sidenav-container > mat-sidenav-content > div > edit-container > div > edit-component > div > form {
      padding: 0px!important;
    }
}

  h1, h2, h3, h4, p {
    margin: 0 0 .38em;
  }
  
  h2 {
    margin-top: .76em;
  }
  
  h4 {
    margin-top: .38em;
  }
  
  pre {
    border-left: 6px solid #505050;
    padding: .38em .76em;
    margin: 0 0 .38em .76em;
  }
  
  .text-right {
    text-align: right;
  }
  
  .badges {
    a {
      margin-right: .38em;
    }
  }
  #headerdata{
    text-align: center;
  }
  #headerdata tr>td {
    border-right: solid 1px #e1e1e1;
    border-left: solid 1px #e1e1e1;
  }
  
  #buttonwrapper, #formwrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #k-tabstrip-tabpanel-0 {
    padding: 2px!important;
  }

  
/*   #mat-input-0, #mat-input-1 {
    height: 20px!important;
  } */
  #dateSelectBar {
    width: 100%;
    margin: 0px auto;
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    padding: 10px;
    box-sizing: border-box;
    background-color: #09456a;
    color:#fff;
}
#previous, #next {
  width: 20%;
  font-size: 1.2em;
  padding: 10px;
  z-index: 5000;
}
#today {
  width: 24%!important;
  font-size: 1.2em;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 5px;
  padding-left: 5px;
}
#datepicker {
  margin-left: 10px;
  width: 0em!important;
  font-size: 0.2em;
  padding: 5px;
  background-color:transparent;
  border: none;
}
#dateSelectBar > p > mat-datepicker-toggle > button > span > svg > path {
  color:#fff!important;
  width: 2em;
  height: 2em;
}
#dateSelectBar > p > mat-datepicker-toggle > button > span > svg {
  color:#fff!important;
  width: 30px!important;
  height: 30px!important;
}
#currentDate {
  margin-right: 20px;
  text-align:center;
  font-size: 1.1em;
  line-height:1.15em;
}
#submitBar {
    width: 100%;
    margin: 0px auto;
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    padding: 10px;
    box-sizing: border-box;
    background-color: #09456a;
    color:#fff;
}
#submit {
  font-size: 1.2em;
  padding: 10px;
  width: 45%;
  margin: auto;
  color: #fff;
  margin: 5px;
  background-color: #a5c956;
}
#back {
  font-size: 1.2em;
  padding: 10px;
  width: 45%;
  margin: auto;
  color: #fff;
  margin: 5px;
  background-color: crimson;
}
mat-nav-list > mat-list-item {
  border-bottom: 1px solid #888;
}
button {
  -webkit-appearance: none!important;
  background-color: #f3f3f3; 
  border-radius: 0!important;
}
.k-tabstrip-items .k-link {
  padding: 10px 20px!important;
}
div.card.my-3 {
  margin-top: 0rem!important;
  margin-bottom: 0rem!important;
}
.k-tabstrip-items .k-link {
  padding: 10px 5px !important;
}

.k-grid .k-command-cell {
  padding-left: 5px!important;
  padding-right: 5px!important;
}
#delete_button {
  background-color: crimson!important;
  color: white!important;
}


