<ng-container>
  <div class="demo-header">
    <button
      kendoButton
      [svgIcon]="menuSvg"
      fillMode="flat"
      (click)="drawer.toggle()"
    ></button>
  </div>
  <kendo-drawer-container>
    <kendo-drawer 
      #drawer 
      [mode]="isHandset() ? 'overlay' : 'push'"
      [expanded]="!isHandset()"
    >
      <ng-template kendoDrawerTemplate>
        <ul class="k-drawer-items">
          @if (authStore.isAuthenticated()) {
            <li class="k-drawer-item">
              <a
                class="k-drawer-link"
                [routerLink]="'/blocks'"
                (click)="isHandset() && drawer.toggle()"
              >
                Blocks
              </a>
            </li>
            <li class="k-drawer-item">
              <a
                class="k-drawer-link"
                [routerLink]="'/reports'"
                (click)="isHandset() && drawer.toggle()"
              >
                Reports
              </a>
            </li>
            <li class="k-drawer-item">
              <a
                class="k-drawer-link"
                [routerLink]="'/products'"
                (click)="isHandset() && drawer.toggle()"
              >
                Products
              </a>
            </li>
            <li class="k-drawer-item">
              <a
                class="k-drawer-link"
                [routerLink]="'/productions'"
                (click)="isHandset() && drawer.toggle()"
              >
                Productions
              </a>
            </li>
          }
          @if (authStore.isAdmin()) {
            <li class="k-drawer-item">
              <a
                class="k-drawer-link"
                [routerLink]="'/rates'"
                (click)="isHandset() && drawer.toggle()"
              >
                Rates
              </a>
            </li>
            <li class="k-drawer-item">
              <a
                class="k-drawer-link"
                [routerLink]="'/user'"
                (click)="isHandset() && drawer.toggle()"
              >
                Users
              </a>
            </li>
          }
          @if (authStore.isAuthenticated()) {
            <li class="k-drawer-item">
              <a
                class="k-drawer-link"
                [routerLink]="'/smart-grid'"
                (click)="isHandset() && drawer.toggle()"
              >
                Smart Grid
              </a>
            </li>
            <li class="k-drawer-item">
              <a
                class="k-drawer-link"
                [routerLink]="'/test-keyboard'"
                (click)="isHandset() && drawer.toggle()"
              >
                Test Keyboard
              </a>
            </li>
            <li class="k-drawer-item">
              <a
                class="k-drawer-link"
                [routerLink]="'/test-request'"
                (click)="isHandset() && drawer.toggle()"
              >
                Test Request
              </a>
            </li>
            <li class="k-drawer-item">
              <a
                class="k-drawer-link"
                [routerLink]="'/test-sw'"
                (click)="isHandset() && drawer.toggle()"
              >
                Test SW
              </a>
            </li>
          }
          @if (!authStore.isAuthenticated()) {
            <li class="k-drawer-item">
              <a
                class="k-drawer-link"
                [routerLink]="'/login'"
                (click)="isHandset() && drawer.toggle()"
              >
                Login
              </a>
            </li>
          }
          @if (authStore.isAuthenticated()) {
            <li class="k-drawer-item">
              <a
                class="k-drawer-link"
                (click)="authStore.logout(); isHandset() && drawer.toggle()"
                style="cursor: pointer"
              >
                Logout
              </a>
            </li>
          }
        </ul>
      </ng-template>
    </kendo-drawer>

    <kendo-drawer-content>
      <router-outlet></router-outlet>
    </kendo-drawer-content>
  </kendo-drawer-container>
</ng-container>
