<wbapp-splash-screen></wbapp-splash-screen>
<ng-container *ngrxLet="isHandset$ as isHandset">
<ng-container *ngrxLet="user$ as user">
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="isHandset ? 'dialog' : 'navigation'"
      [mode]="isHandset ? 'over' : 'side'"
      [opened]="isHandset === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/productions'" *loggedIn="true" (click)="isHandset ? drawer.close() : null"> Productions </a> 
      <a mat-list-item [routerLink]="'/blocks/active'" *authorizedRoles="['Admin']" (click)="isHandset ? drawer.close() : null"> Blocks (Admin) </a>
      <a mat-list-item [routerLink]="'/blocks/archive'" *authorizedRoles="['Admin']" (click)="isHandset ? drawer.close() : null"> Blocks Archive (Admin) </a>      
      <a mat-list-item [routerLink]="'/users'" *authorizedRoles="['Admin']" (click)="isHandset ? drawer.close() : null"> Users (Admin) </a> 
      <a mat-list-item [routerLink]="'/rates'" *authorizedRoles="['Admin']" (click)="isHandset ? drawer.close() : null"> Rates (Admin) </a>
      <a mat-list-item [routerLink]="'/report'" *loggedIn="true" (click)="isHandset ? drawer.close() : null"> Report </a>
      <a mat-list-item [routerLink]="'/about'" (click)="isHandset ? drawer.close() : null"> About </a>
      <a mat-list-item [routerLink]="'/logout'" *loggedIn="true" (click)="isHandset ? drawer.close() : null"> Logout </a> 
      <a mat-list-item [routerLink]="'/login'" *loggedIn="false" (click)="isHandset ? drawer.close() : null"> Login </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>{{ user && user.FirstName }} {{ user && user.LastName }}</span>
    </mat-toolbar>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
</ng-container>
</ng-container>

  

